# REQUIRED CONFIG
BOT_TOKEN = "5086040412:AAGpt3nScmLqSuOiK-a9L4Ty5KWSMYBX1RM"
OWNER_ID = "1659977716"                               # Require restart after changing it while bot running
TELEGRAM_API = "17615880"                           # Require restart after changing it while bot running
TELEGRAM_HASH = "90328c9634dee7aa780fe0c428644842"  

# OPTIONAL CONFIG
GDRIVE_ID = "1ka-jC_YiZXstlbdbt0McxJAkH7bJTj4Q"
DOWNLOAD_DIR = "/usr/src/app/downloads"                       
DATABASE_URL = "mongodb+srv://vumen:vumen@cluster0.xyraggv.mongodb.net/?retryWrites=true&w=majority"
AUTHORIZED_CHATS = "-1001615506510 -1001567598967 -1001607486197"
IS_TEAM_DRIVE = "True"
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
SUDO_USERS = ""                             # Require restart after changing it while bot running
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://phungngocvu.com/0:/DATA%20%E1%BB%9E%20%C4%91%C3%A2y"
STATUS_LIMIT = ""
STOP_DUPLICATE = "True"
CMD_SUFFIX = ""                              # Require restart after changing it while bot running
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
YT_DLP_QUALITY = ""
# Update
UPSTREAM_REPO = "https://github.com/uppnv1/anaspn"
UPSTREAM_BRANCH = ""
# Leech
USER_SESSION_STRING = ""                    # Require restart after changing it while bot running
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
MEDIA_GROUP = ""
LEECH_FILENAME_PERFIX = ""
DUMP_CHAT = ""
# qBittorrent/Aria2c
BASE_URL = ""
SERVER_PORT = ""
WEB_PINCODE = ""
#Queueing system
QUEUE_ALL = ""
QUEUE_DOWNLOAD = ""
QUEUE_UPLOAD = ""
# RSS
RSS_DELAY = ""                              # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                # Require restart after changing it while bot running
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Buttons
VIEW_LINK = "True"
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
